openapi: 3.0.2
info:
  title: Etsy Open API v3 BuyerTaxonomy Shop ProcessingProfiles API
  description: <div class="wt-text-body-01"><p class="wt-pt-xs-2 wt-pb-xs-2">Etsy's Open API provides a simple RESTful interface for various Etsy.com features.</p><p class="wt-pb-xs-2">If you'd like to report an issue or provide feedback on the API design, <a target="_blank" class="wt-text-link wt-p-xs-0" href="https://github.com/etsy/open-api/discussions">please add an issue in Github</a>.</p></div>&copy; 2021-2026 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.
  termsOfService: https://www.etsy.com/legal/api
  contact:
    email: developers@etsy.com
  version: 3.0.0
  x-generated-from: https://www.etsy.com/openapi/generated/oas/3.0.0.json
  x-last-validated: '2026-05-30'
servers:
- url: https://openapi.etsy.com
  description: Etsy Open API v3 base URL (per Etsy developer documentation; live calls also resolve at https://api.etsy.com/v3/application).
security:
- api_key: []
tags:
- name: Shop ProcessingProfiles
paths:
  /v3/application/shops/{shop_id}/readiness-state-definitions:
    post:
      operationId: createShopReadinessStateDefinition
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Creates a new ReadinessStateDefinition. If an existing definition matches the input values, this endpoint will throw a Conflict error, please refer to the Content-Location header to obtain the get endpoint url for the values of the existing definition. Does not affect the product offering-readiness states definition relationship.'
      tags:
      - Shop ProcessingProfiles
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - readiness_state
              - min_processing_time
              - max_processing_time
              properties:
                readiness_state:
                  type: string
                  description: 'The readiness state of a product: \"1\" means \"ready_to_ship\", and \"2\" means \"made_to_order\"'
                  enum:
                  - ready_to_ship
                  - made_to_order
                min_processing_time:
                  type: integer
                  description: The minimum number of days or weeks for processing a specific product.
                  minimum: 1
                  maximum: 10
                max_processing_time:
                  type: integer
                  description: The maximum number of days or weeks for processing a specific product.
                  minimum: 1
                  maximum: 10
                processing_time_unit:
                  type: string
                  description: The unit used to represent how long a processing time is. A week is equivalent to how many days the seller works per week as stated in their processing schedule. If none is provided, the unit is set to \"days\".
                  enum:
                  - days
                  - weeks
                  default: days
            examples:
              CreateShopReadinessStateDefinitionRequestExample:
                summary: Default createShopReadinessStateDefinition request
                x-microcks-default: true
                value:
                  readiness_state: ready_to_ship
                  min_processing_time: 1
                  max_processing_time: 1
                  processing_time_unit: days
      responses:
        '201':
          description: A single ReadinessStateDefinition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopProcessingProfile'
              examples:
                CreateShopReadinessStateDefinition201Example:
                  summary: Default createShopReadinessStateDefinition 201 response
                  x-microcks-default: true
                  value:
                    shop_id: 123456
                    readiness_state_id: 1
                    readiness_state: ready_to_ship
                    min_processing_days: 1
                    max_processing_days: 1
                    processing_days_display_label: example string
        '409':
          description: There was a request conflict with the current state of the target resource. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopReadinessStateDefinition409Example:
                  summary: Default createShopReadinessStateDefinition 409 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopReadinessStateDefinition400Example:
                  summary: Default createShopReadinessStateDefinition 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopReadinessStateDefinition401Example:
                  summary: Default createShopReadinessStateDefinition 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopReadinessStateDefinition500Example:
                  summary: Default createShopReadinessStateDefinition 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Create Shop Readiness State Definition
    get:
      operationId: getShopReadinessStateDefinitions
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Retrieves a list of ProcessingProfiles available in the specific Etsy shop identified by its shop ID.'
      tags:
      - Shop ProcessingProfiles
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          description: The maximum number of results to return.
          minimum: 1
          maximum: 100
          default: 25
        example: 25
      - name: offset
        in: query
        description: The number of records to skip before selecting the first result.
        required: false
        schema:
          type: integer
          description: The number of records to skip before selecting the first result.
          minimum: 0
          default: 0
        example: 0
      responses:
        '200':
          description: A list of ProcessingProfiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopProcessingProfiles'
              examples:
                GetShopReadinessStateDefinitions200Example:
                  summary: Default getShopReadinessStateDefinitions 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - shop_id: 123456
                      readiness_state_id: 1
                      readiness_state: ready_to_ship
                      min_processing_days: 1
                      max_processing_days: 1
                      processing_days_display_label: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReadinessStateDefinitions400Example:
                  summary: Default getShopReadinessStateDefinitions 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReadinessStateDefinitions404Example:
                  summary: Default getShopReadinessStateDefinitions 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReadinessStateDefinitions401Example:
                  summary: Default getShopReadinessStateDefinitions 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReadinessStateDefinitions500Example:
                  summary: Default getShopReadinessStateDefinitions 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_r
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Readiness State Definitions
  /v3/application/shops/{shop_id}/readiness-state-definitions/{readiness_state_definition_id}:
    delete:
      operationId: deleteShopReadinessStateDefinition
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Deletes a ReadinessStateDefinition by given readiness state definition ID. If there any active offerings linked to the definition, this endpoint will throw a Bad Request error. If you want to delete a ReadinessStateDefinition that is linked to active offerings, you must link the offerings to a different readiness state definition.'
      tags:
      - Shop ProcessingProfiles
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: readiness_state_definition_id
        in: path
        description: The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Returned only when the listing is `active` and of type `physical`, and the endpoint is either shop-scoped (path contains `shop_id`) or a single-listing request such as `getListing`. For every other case this field can be null.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Returned only when the listing is `active` and of type `physical`, and the endpoint is either shop-scoped (path contains `shop_id`) or a single-listing request such as `getListing`. For every other case this field can be null.
          format: int64
          minimum: 1
        example: 1
      responses:
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReadinessStateDefinition403Example:
                  summary: Default deleteShopReadinessStateDefinition 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReadinessStateDefinition404Example:
                  summary: Default deleteShopReadinessStateDefinition 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '204':
          description: The ReadinessStateDefinition was successfully deleted
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReadinessStateDefinition400Example:
                  summary: Default deleteShopReadinessStateDefinition 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReadinessStateDefinition401Example:
                  summary: Default deleteShopReadinessStateDefinition 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReadinessStateDefinition500Example:
                  summary: Default deleteShopReadinessStateDefinition 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Delete Shop Readiness State Definition
    get:
      operationId: getShopReadinessStateDefinition
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Retrieves a ProcessingProfile referenced by readiness state definition ID.'
      tags:
      - Shop ProcessingProfiles
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: readiness_state_definition_id
        in: path
        description: The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Returned only when the listing is `active` and of type `physical`, and the endpoint is either shop-scoped (path contains `shop_id`) or a single-listing request such as `getListing`. For every other case this field can be null.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Returned only when the listing is `active` and of type `physical`, and the endpoint is either shop-scoped (path contains `shop_id`) or a single-listing request such as `getListing`. For every other case this field can be null.
          format: int64
          minimum: 1
        example: 1
      responses:
        '200':
          description: A single ProcessingProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopProcessingProfile'
              examples:
                GetShopReadinessStateDefinition200Example:
                  summary: Default getShopReadinessStateDefinition 200 response
                  x-microcks-default: true
                  value:
                    shop_id: 123456
                    readiness_state_id: 1
                    readiness_state: ready_to_ship
                    min_processing_days: 1
                    max_processing_days: 1
                    processing_days_display_label: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReadinessStateDefinition400Example:
                  summary: Default getShopReadinessStateDefinition 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReadinessStateDefinition404Example:
                  summary: Default getShopReadinessStateDefinition 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReadinessStateDefinition401Example:
                  summary: Default getShopReadinessStateDefinition 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReadinessStateDefinition500Example:
                  summary: Default getShopReadinessStateDefinition 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_r
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Readiness State Definition
    put:
      operationId: updateShopReadinessStateDefinition
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Updates an existing ReadinessStateDefinition. If an existing definition matches the input values, this endpoint will throw a Conflict error, please refer to the Content-Location header to obtain the get endpoint url for the values of the existing definition. Does not affect the product offering-readiness states definition relationship.'
      tags:
      - Shop ProcessingProfiles
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: readiness_state_definition_id
        in: path
        description: The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Returned only when the listing is `active` and of type `physical`, and the endpoint is either shop-scoped (path contains `shop_id`) or a single-listing request such as `getListing`. For every other case this field can be null.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Returned only when the listing is `active` and of type `physical`, and the endpoint is either shop-scoped (path contains `shop_id`) or a single-listing request such as `getListing`. For every other case this field can be null.
          format: int64
          minimum: 1
        example: 1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                readiness_state:
                  type: string
                  description: 'The readiness state of a product: \"1\" means \"ready_to_ship\", and \"2\" means \"made_to_order\"'
                  enum:
                  - ready_to_ship
                  - made_to_order
                min_processing_time:
                  type: integer
                  description: The minimum number of days or weeks for processing a specific product.
                  minimum: 1
                  maximum: 10
                max_processing_time:
                  type: integer
                  description: The maximum number of days or weeks for processing a specific product.
                  minimum: 1
                  maximum: 10
                processing_time_unit:
                  type: string
                  description: The unit used to represent how long a processing time is. A week is equivalent to how many days the seller works per week as stated in their processing schedule. If none is provided, the unit is set to \"days\".
                  enum:
                  - days
                  - weeks
                  default: days
            examples:
              UpdateShopReadinessStateDefinitionRequestExample:
                summary: Default updateShopReadinessStateDefinition request
                x-microcks-default: true
                value:
                  readiness_state: ready_to_ship
                  min_processing_time: 1
                  max_processing_time: 1
                  processing_time_unit: days
      responses:
        '200':
          description: The updated ReadinessStateDefinition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopProcessingProfile'
              examples:
                UpdateShopReadinessStateDefinition200Example:
                  summary: Default updateShopReadinessStateDefinition 200 response
                  x-microcks-default: true
                  value:
                    shop_id: 123456
                    readiness_state_id: 1
                    readiness_state: ready_to_ship
                    min_processing_days: 1
                    max_processing_days: 1
                    processing_days_display_label: example string
        '409':
          description: There was a request conflict with the current state of the target resource. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReadinessStateDefinition409Example:
                  summary: Default updateShopReadinessStateDefinition 409 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReadinessStateDefinition400Example:
                  summary: Default updateShopReadinessStateDefinition 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReadinessStateDefinition404Example:
                  summary: Default updateShopReadinessStateDefinition 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReadinessStateDefinition401Example:
                  summary: Default updateShopReadinessStateDefinition 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReadinessStateDefinition500Example:
                  summary: Default updateShopReadinessStateDefinition 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Update Shop Readiness State Definition
components:
  schemas:
    ErrorSchema:
      type: object
      x-resource-id: ErrorSchema
      required:
      - error
      properties:
        error:
          type: string
          example: example string
    ShopProcessingProfile:
      type: object
      x-resource-id: ShopProcessingProfile
      description: Represents a processing profile to set a product offering's readiness state and processing time info.
      properties:
        shop_id:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          example: 123456
        readiness_state_id:
          type: integer
          description: The numeric ID of the [processing profile](/documentation/reference#operation/getShopReadinessStateDefinition) associated with the listing. Returned only when the listing is `active` and of type `physical`, and the endpoint is either shop-scoped (path contains `shop_id`) or a single-listing request such as `getListing`. For every other case this field can be null.
          format: int64
          minimum: 1
          example: 1
        readiness_state:
          type: string
          description: 'The readiness state of a product: \"1\" means \"ready_to_ship\", and \"2\" means \"made_to_order\"'
          enum:
          - ready_to_ship
          - made_to_order
          example: ready_to_ship
        min_processing_days:
          type: integer
          description: The minimum number of days for processing a specific product.
          minimum: 0
          example: 1
        max_processing_days:
          type: integer
          description: The maximum number of days for processing a specific product.
          minimum: 0
          example: 1
        processing_days_display_label:
          type: string
          description: Translated display label string for processing days, for example "3 - 5 days".
          example: example string
    ShopProcessingProfiles:
      type: object
      x-resource-id: ShopProcessingProfiles
      description: Represents several ProcessingProfiles.
      properties:
        count:
          type: integer
          minimum: 0
          example: 1
        results:
          type: array
          items:
            $ref: '#/components/schemas/ShopProcessingProfile'
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: Every request to a v3 API endpoint must include this data in the format `keystring:shared_secret`. Your keystring and shared secret are available on the [Your Apps](https://www.etsy.com/developers/your-apps) page.
    oauth2:
      type: oauth2
      description: Open API v3 supports authenticating via OAuth 2.0. More information about Etsy's specific implementation of OAuth2 can be found [here](/documentation/essentials/oauth2).
      flows:
        authorizationCode:
          authorizationUrl: https://www.etsy.com/oauth/connect
          tokenUrl: https://openapi.etsy.com/v3/public/oauth/token
          scopes:
            address_r: see billing and shipping addresses
            address_w: update billing and shipping addresses
            billing_r: see all billing statement data
            cart_r: read shopping carts
            cart_w: add/remove from shopping carts
            email_r: read a user profile
            favorites_r: see private favorites
            favorites_w: add/remove favorites
            feedback_r: see purchase info in feedback
            listings_d: delete listings
            listings_r: see all listings (including expired etc)
            listings_w: create/edit listings
            profile_r: see all profile data
            profile_w: update user profile, avatar, etc
            recommend_r: see recommended listings
            recommend_w: accept/reject recommended listings
            shops_r: see private shop info
            shops_w: update shop
            transactions_r: see all checkout/payment data
            transactions_w: update receipts
x-tagGroups:
- name: Listing Management
  tags:
  - BuyerTaxonomy
  - SellerTaxonomy
  - ShopListing
  - ShopListing File
  - ShopListing Image
  - ShopListing Inventory
  - ShopListing Offering
  - ShopListing Personalization
  - ShopListing Product
  - ShopListing Translation
  - ShopListing VariationImage
  - ShopListing Video
- name: Other
  tags:
  - Other
- name: Payment Management
  tags:
  - Ledger Entry
  - Payment
- name: Receipt Management
  tags:
  - Shop Receipt
  - Shop Receipt Transactions
- name: Review Management
  tags:
  - Review
- name: Shipping Management
  tags:
  - Shop HolidayPreferences
  - Shop ProcessingProfiles
  - Shop ShippingProfile
- name: Shop Management
  tags:
  - Shop
  - Shop ProductionPartner
  - Shop Section
- name: Shop Policy Management
  tags:
  - Shop Return Policy
- name: User Management
  tags:
  - User
  - UserAddress
