openapi: 3.0.2
info:
  title: Etsy Open API v3 BuyerTaxonomy Ledger Entry API
  description: <div class="wt-text-body-01"><p class="wt-pt-xs-2 wt-pb-xs-2">Etsy's Open API provides a simple RESTful interface for various Etsy.com features.</p><p class="wt-pb-xs-2">If you'd like to report an issue or provide feedback on the API design, <a target="_blank" class="wt-text-link wt-p-xs-0" href="https://github.com/etsy/open-api/discussions">please add an issue in Github</a>.</p></div>&copy; 2021-2026 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.
  termsOfService: https://www.etsy.com/legal/api
  contact:
    email: developers@etsy.com
  version: 3.0.0
  x-generated-from: https://www.etsy.com/openapi/generated/oas/3.0.0.json
  x-last-validated: '2026-05-30'
servers:
- url: https://openapi.etsy.com
  description: Etsy Open API v3 base URL (per Etsy developer documentation; live calls also resolve at https://api.etsy.com/v3/application).
security:
- api_key: []
tags:
- name: Ledger Entry
paths:
  /v3/application/shops/{shop_id}/payment-account/ledger-entries/{ledger_entry_id}:
    get:
      operationId: getShopPaymentAccountLedgerEntry
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Get a single Shop Payment Account Ledger''s Entry'
      tags:
      - Ledger Entry
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: ledger_entry_id
        in: path
        description: The unique ID of the shop owner ledger entry.
        required: true
        schema:
          type: integer
          description: The unique ID of the shop owner ledger entry.
          format: int64
          minimum: 1
        example: 1
      responses:
        '200':
          description: A single of PaymentAccountLedgerEntry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAccountLedgerEntry'
              examples:
                GetShopPaymentAccountLedgerEntry200Example:
                  summary: Default getShopPaymentAccountLedgerEntry 200 response
                  x-microcks-default: true
                  value:
                    entry_id: 1
                    ledger_id: 1
                    sequence_number: 1
                    amount: 2500
                    currency: example string
                    description: Beautifully crafted handmade ceramic mug, kiln-fired in our Brooklyn studio.
                    balance: 1
                    create_date: 1
                    created_timestamp: 1758153645
                    ledger_type: example string
                    reference_type: example string
                    reference_id: example string
                    parent_entry_id: 1
                    payment_adjustments:
                    - null
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopPaymentAccountLedgerEntry400Example:
                  summary: Default getShopPaymentAccountLedgerEntry 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopPaymentAccountLedgerEntry403Example:
                  summary: Default getShopPaymentAccountLedgerEntry 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopPaymentAccountLedgerEntry401Example:
                  summary: Default getShopPaymentAccountLedgerEntry 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopPaymentAccountLedgerEntry500Example:
                  summary: Default getShopPaymentAccountLedgerEntry 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - transactions_r
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Payment Account Ledger Entry
  /v3/application/shops/{shop_id}/payment-account/ledger-entries:
    get:
      operationId: getShopPaymentAccountLedgerEntries
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Get a Shop Payment Account Ledger''s Entries'
      tags:
      - Ledger Entry
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: min_created
        in: query
        description: The earliest unix timestamp for when a record was created.
        required: true
        schema:
          type: integer
          description: The earliest unix timestamp for when a record was created.
          minimum: 946684800
        example: 1
      - name: max_created
        in: query
        description: The latest unix timestamp for when a record was created.
        required: true
        schema:
          type: integer
          description: The latest unix timestamp for when a record was created.
          minimum: 946684800
        example: 1
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          description: The maximum number of results to return.
          minimum: 1
          maximum: 100
          default: 25
        example: 25
      - name: offset
        in: query
        description: The number of records to skip before selecting the first result.
        required: false
        schema:
          type: integer
          description: The number of records to skip before selecting the first result.
          minimum: 0
          default: 0
        example: 0
      responses:
        '200':
          description: A list of PaymentAccountLedgerEntries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAccountLedgerEntries'
              examples:
                GetShopPaymentAccountLedgerEntries200Example:
                  summary: Default getShopPaymentAccountLedgerEntries 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - null
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopPaymentAccountLedgerEntries400Example:
                  summary: Default getShopPaymentAccountLedgerEntries 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopPaymentAccountLedgerEntries403Example:
                  summary: Default getShopPaymentAccountLedgerEntries 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopPaymentAccountLedgerEntries401Example:
                  summary: Default getShopPaymentAccountLedgerEntries 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopPaymentAccountLedgerEntries500Example:
                  summary: Default getShopPaymentAccountLedgerEntries 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - transactions_r
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Payment Account Ledger Entries
components:
  schemas:
    ErrorSchema:
      type: object
      x-resource-id: ErrorSchema
      required:
      - error
      properties:
        error:
          type: string
          example: example string
    PaymentAccountLedgerEntry:
      type: object
      x-resource-id: PaymentAccountLedgerEntry
      description: Represents an entry in a shop's ledger.
      properties:
        entry_id:
          type: integer
          description: The ledger entry's numeric ID.
          format: int64
          minimum: 1
          example: 1
        ledger_id:
          type: integer
          description: The ledger's numeric ID.
          format: int64
          minimum: 1
          example: 1
        sequence_number:
          type: integer
          description: The sequence allows ledger entries to be sorted chronologically. The higher the sequence, the more recent the entry.
          example: 1
        amount:
          type: integer
          description: The amount of money credited to the ledger.
          example: 2500
        currency:
          type: string
          description: The currency of the entry on the ledger.
          example: example string
        description:
          type: string
          description: 'Details what kind of ledger entry this is: a payment, refund, reversal of a failed refund, disbursement, returned disbursement, recoupment, miscellaneous credit, miscellaneous debit, or bill payment.'
          example: Beautifully crafted handmade ceramic mug, kiln-fired in our Brooklyn studio.
        balance:
          type: integer
          description: The amount of money in the shop's ledger the moment after this entry was applied.
          example: 1
        create_date:
          type: integer
          description: The date and time the ledger entry was created in Epoch seconds.
          minimum: 0
          example: 1
        created_timestamp:
          type: integer
          description: The date and time the ledger entry was created in Epoch seconds.
          minimum: 0
          example: 1758153645
        ledger_type:
          type: string
          description: The original reference type for the ledger entry.
          example: example string
        reference_type:
          type: string
          description: The object type the ledger entry refers to.
          example: example string
        reference_id:
          type: string
          description: The object id the ledger entry refers to.
          nullable: true
          example: example string
        parent_entry_id:
          type: integer
          description: The parent ledger entry ID used to match related entries (e.g., vat_seller_services to originating seller fees).
          minimum: 0
          example: 1
        payment_adjustments:
          type: array
          description: List of refund objects on an Etsy Payments transaction. All monetary amounts are in USD pennies unless otherwise specified.
          items:
            description: List of refund objects on an Etsy Payments transaction. All monetary amounts are in USD pennies unless otherwise specified.
            oneOf:
            - $ref: '#/components/schemas/PaymentAdjustment'
    PaymentAdjustmentItem:
      type: object
      x-resource-id: PaymentAdjustmentItem
      description: A payment adjustment line item for a payment adjustment.
      properties:
        payment_adjustment_id:
          type: integer
          description: The numeric ID for a payment adjustment.
          format: int64
          minimum: 1
          example: 1
        payment_adjustment_item_id:
          type: integer
          description: Unique ID for the adjustment line item.
          format: int64
          minimum: 1
          example: 1
        adjustment_type:
          type: string
          description: String indicating the type of adjustment for this line item.
          nullable: true
          example: example string
        amount:
          type: integer
          description: Integer value for the amount of the adjustment in original currency.
          default: 0
          example: 2500
        shop_amount:
          type: integer
          description: Integer value for the amount of the adjustment in currency for the shop.
          default: 0
          example: 2500
        transaction_id:
          type: integer
          description: The unique numeric ID for a transaction.
          format: int64
          nullable: true
          minimum: 1
          example: 345678901
        bill_payment_id:
          type: integer
          description: Unique ID for the bill payment adjustment.
          format: int64
          nullable: true
          minimum: 1
          example: 1
        created_timestamp:
          type: integer
          description: The transaction's creation date and time, in epoch seconds.
          minimum: 946684800
          example: 1758153645
        updated_timestamp:
          type: integer
          description: The update date and time the payment adjustment in epoch seconds.
          minimum: 946684800
          example: 1758153645
    PaymentAdjustment:
      type: object
      x-resource-id: PaymentAdjustment
      description: Represents a refund, which applies to a prior Etsy payment. All monetary amounts are in USD pennies unless otherwise specified.
      properties:
        payment_adjustment_id:
          type: integer
          description: The numeric ID for a payment adjustment.
          format: int64
          minimum: 1
          example: 1
        payment_id:
          type: integer
          description: A unique numeric ID for a payment to a specific Etsy [shop](/documentation/reference#tag/Shop).
          format: int64
          minimum: 1
          example: 1
        status:
          type: string
          description: The status string of the payment adjustment.
          example: example string
        is_success:
          type: boolean
          description: When true, the payment adjustment was or is likely to complete successfully.
          example: true
        user_id:
          type: integer
          description: The numeric ID for the [user](/documentation/reference#tag/User) (seller) fulfilling the purchase.
          format: int64
          minimum: 1
          example: 456789
        reason_code:
          type: string
          description: A human-readable string describing the reason for the refund.
          example: example string
        total_adjustment_amount:
          type: integer
          description: The total numeric amount of the refund in the payment currency.
          nullable: true
          minimum: 0
          example: 2500
        shop_total_adjustment_amount:
          type: integer
          description: The numeric amount of the refund in the shop currency.
          nullable: true
          minimum: 0
          example: 2500
        buyer_total_adjustment_amount:
          type: integer
          description: The numeric amount of the refund in the buyer currency.
          nullable: true
          minimum: 0
          example: 2500
        total_fee_adjustment_amount:
          type: integer
          description: The numeric amount of card processing fees associated with a payment adjustment.
          nullable: true
          minimum: 0
          example: 2500
        create_timestamp:
          type: integer
          description: The transaction's creation date and time, in epoch seconds.
          minimum: 946684800
          example: 1758153645
        created_timestamp:
          type: integer
          description: The transaction's creation date and time, in epoch seconds.
          minimum: 946684800
          example: 1758153645
        update_timestamp:
          type: integer
          description: The date and time of the last change to the payment adjustment in epoch seconds.
          minimum: 946684800
          example: 1758153645
        updated_timestamp:
          type: integer
          description: The date and time of the last change to the payment adjustment in epoch seconds.
          minimum: 946684800
          example: 1758153645
        payment_adjustment_items:
          type: array
          description: List of payment adjustment line items.
          items:
            description: List of payment adjustment line items.
            oneOf:
            - $ref: '#/components/schemas/PaymentAdjustmentItem'
    PaymentAccountLedgerEntries:
      type: object
      x-resource-id: PaymentAccountLedgerEntries
      description: A set of PaymentAccountLedgerEntry resources
      properties:
        count:
          type: integer
          description: The number of PaymentAccountLedgerEntry resources found.
          minimum: 0
          example: 1
        results:
          type: array
          description: The PaymentAccountLedgerEntry resources found.
          items:
            description: The PaymentAccountLedgerEntry resources found.
            oneOf:
            - $ref: '#/components/schemas/PaymentAccountLedgerEntry'
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: Every request to a v3 API endpoint must include this data in the format `keystring:shared_secret`. Your keystring and shared secret are available on the [Your Apps](https://www.etsy.com/developers/your-apps) page.
    oauth2:
      type: oauth2
      description: Open API v3 supports authenticating via OAuth 2.0. More information about Etsy's specific implementation of OAuth2 can be found [here](/documentation/essentials/oauth2).
      flows:
        authorizationCode:
          authorizationUrl: https://www.etsy.com/oauth/connect
          tokenUrl: https://openapi.etsy.com/v3/public/oauth/token
          scopes:
            address_r: see billing and shipping addresses
            address_w: update billing and shipping addresses
            billing_r: see all billing statement data
            cart_r: read shopping carts
            cart_w: add/remove from shopping carts
            email_r: read a user profile
            favorites_r: see private favorites
            favorites_w: add/remove favorites
            feedback_r: see purchase info in feedback
            listings_d: delete listings
            listings_r: see all listings (including expired etc)
            listings_w: create/edit listings
            profile_r: see all profile data
            profile_w: update user profile, avatar, etc
            recommend_r: see recommended listings
            recommend_w: accept/reject recommended listings
            shops_r: see private shop info
            shops_w: update shop
            transactions_r: see all checkout/payment data
            transactions_w: update receipts
x-tagGroups:
- name: Listing Management
  tags:
  - BuyerTaxonomy
  - SellerTaxonomy
  - ShopListing
  - ShopListing File
  - ShopListing Image
  - ShopListing Inventory
  - ShopListing Offering
  - ShopListing Personalization
  - ShopListing Product
  - ShopListing Translation
  - ShopListing VariationImage
  - ShopListing Video
- name: Other
  tags:
  - Other
- name: Payment Management
  tags:
  - Ledger Entry
  - Payment
- name: Receipt Management
  tags:
  - Shop Receipt
  - Shop Receipt Transactions
- name: Review Management
  tags:
  - Review
- name: Shipping Management
  tags:
  - Shop HolidayPreferences
  - Shop ProcessingProfiles
  - Shop ShippingProfile
- name: Shop Management
  tags:
  - Shop
  - Shop ProductionPartner
  - Shop Section
- name: Shop Policy Management
  tags:
  - Shop Return Policy
- name: User Management
  tags:
  - User
  - UserAddress
