openapi: 3.0.2
info:
  title: Etsy Open API v3 BuyerTaxonomy Shop ShippingProfile API
  description: <div class="wt-text-body-01"><p class="wt-pt-xs-2 wt-pb-xs-2">Etsy's Open API provides a simple RESTful interface for various Etsy.com features.</p><p class="wt-pb-xs-2">If you'd like to report an issue or provide feedback on the API design, <a target="_blank" class="wt-text-link wt-p-xs-0" href="https://github.com/etsy/open-api/discussions">please add an issue in Github</a>.</p></div>&copy; 2021-2026 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.
  termsOfService: https://www.etsy.com/legal/api
  contact:
    email: developers@etsy.com
  version: 3.0.0
  x-generated-from: https://www.etsy.com/openapi/generated/oas/3.0.0.json
  x-last-validated: '2026-05-30'
servers:
- url: https://openapi.etsy.com
  description: Etsy Open API v3 base URL (per Etsy developer documentation; live calls also resolve at https://api.etsy.com/v3/application).
security:
- api_key: []
tags:
- name: Shop ShippingProfile
paths:
  /v3/application/shipping-carriers:
    get:
      operationId: getShippingCarriers
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Retrieves a list of available shipping carriers and the mail classes associated with them for a given country'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: origin_country_iso
        in: query
        description: The ISO code of the country from which the listing ships.
        required: true
        schema:
          type: string
          description: The ISO code of the country from which the listing ships.
          format: ISO 3166-1 alpha-2
        example: US
      responses:
        '200':
          description: A set of ShippingCarriers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingCarriers'
              examples:
                GetShippingCarriers200Example:
                  summary: Default getShippingCarriers 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - shipping_carrier_id: 1
                      name: Handmade Ceramic Mug
                      domestic_classes:
                      - {}
                      international_classes:
                      - {}
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShippingCarriers400Example:
                  summary: Default getShippingCarriers 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShippingCarriers500Example:
                  summary: Default getShippingCarriers 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shipping Carriers
  /v3/application/shops/{shop_id}/shipping-profiles:
    post:
      operationId: createShopShippingProfile
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Creates a new ShippingProfile. You can pass a country iso code or a region when creating a ShippingProfile, but not both. Only one is required. You must pass either a shipping_carrier_id AND mail_class, or both min and max_delivery_days.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - title
              - origin_country_iso
              - primary_cost
              - secondary_cost
              properties:
                title:
                  type: string
                  description: The name string of this shipping profile.
                origin_country_iso:
                  type: string
                  description: The ISO code of the country from which the listing ships.
                  format: ISO 3166-1 alpha-2
                primary_cost:
                  type: number
                  description: The cost of shipping to this country/region alone, measured in the store's default currency.
                  format: float
                  minimum: 0
                secondary_cost:
                  type: number
                  description: The cost of shipping to this country/region with another item, measured in the store's default currency.
                  format: float
                  minimum: 0
                min_processing_time:
                  type: integer
                  description: The minimum time required to process to ship listings with this shipping profile.
                  minimum: 1
                  maximum: 10
                max_processing_time:
                  type: integer
                  description: The maximum processing time the listing needs to ship.
                  minimum: 1
                  maximum: 10
                processing_time_unit:
                  type: string
                  description: The unit used to represent how long a processing time is. A week is equivalent to the set processing schedule (default to 5 business days). If none is provided, the unit is set to "business_days".
                  enum:
                  - business_days
                  - weeks
                  default: business_days
                destination_country_iso:
                  type: string
                  description: The ISO code of the country to which the listing ships. If null, request sets destination to destination_region. Required if destination_region is null or not provided.
                  format: ISO 3166-1 alpha-2
                  default: null
                destination_region:
                  type: string
                  description: The code of the region to which the listing ships. A region represents a set of countries. Supported regions are Europe Union and Non-Europe Union (countries in Europe not in EU). If `none`, request sets destination to destination_country_iso. Required if destination_country_iso is null or not provided.
                  enum:
                  - eu
                  - non_eu
                  - none
                  default: none
                origin_postal_code:
                  type: string
                  description: The postal code string (not necessarily a number) for the location from which the listing ships. Required if the `origin_country_iso` supports postal codes. See the [Fulfillment Tutorial docs](https://developer.etsy.com/documentation/tutorials/fulfillment/#countries-requiring-postal-codes) for more info
                  default: ''
                shipping_carrier_id:
                  type: integer
                  description: The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date. **Required with `mail_class`** if `min_delivery_days` and `max_delivery_days` are null.
                  minimum: 0
                  default: 0
                mail_class:
                  type: string
                  description: The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date. **Required with `shipping_carrier_id`** if `min_delivery_days` and `max_delivery_days` are null.
                  default: null
                min_delivery_days:
                  type: integer
                  description: The minimum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `max_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
                max_delivery_days:
                  type: integer
                  description: The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `min_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
            examples:
              CreateShopShippingProfileRequestExample:
                summary: Default createShopShippingProfile request
                x-microcks-default: true
                value:
                  title: example string
                  origin_country_iso: example string
                  primary_cost: 1.0
                  secondary_cost: 1.0
                  min_processing_time: 1
                  max_processing_time: 1
                  processing_time_unit: business_days
                  destination_country_iso: example string
                  destination_region: eu
                  origin_postal_code: example string
                  shipping_carrier_id: 1
                  mail_class: example string
                  min_delivery_days: 1
                  max_delivery_days: 1
      responses:
        '200':
          description: A single ShippingProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfile'
              examples:
                CreateShopShippingProfile200Example:
                  summary: Default createShopShippingProfile 200 response
                  x-microcks-default: true
                  value:
                    shipping_profile_id: 1
                    title: Handmade Ceramic Mug — Stoneware
                    user_id: 456789
                    origin_country_iso: US
                    is_deleted: true
                    shipping_profile_destinations:
                    - null
                    shipping_profile_upgrades:
                    - null
                    origin_postal_code: '11201'
                    profile_type: manual
                    domestic_handling_fee: 1.0
                    international_handling_fee: 1.0
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfile403Example:
                  summary: Default createShopShippingProfile 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfile400Example:
                  summary: Default createShopShippingProfile 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfile401Example:
                  summary: Default createShopShippingProfile 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfile500Example:
                  summary: Default createShopShippingProfile 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Create Shop Shipping Profile
    get:
      operationId: getShopShippingProfiles
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Retrieves a list of shipping profiles available in the specific Etsy shop identified by its shop ID.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      responses:
        '200':
          description: A list of shipping profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfiles'
              examples:
                GetShopShippingProfiles200Example:
                  summary: Default getShopShippingProfiles 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - shipping_profile_id: 1
                      title: Handmade Ceramic Mug — Stoneware
                      user_id: 456789
                      origin_country_iso: US
                      is_deleted: true
                      shipping_profile_destinations:
                      - {}
                      shipping_profile_upgrades:
                      - {}
                      origin_postal_code: '11201'
                      profile_type: manual
                      domestic_handling_fee: 1.0
                      international_handling_fee: 1.0
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfiles403Example:
                  summary: Default getShopShippingProfiles 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfiles400Example:
                  summary: Default getShopShippingProfiles 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfiles500Example:
                  summary: Default getShopShippingProfiles 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_r
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Shipping Profiles
  /v3/application/shops/{shop_id}/shipping-profiles/{shipping_profile_id}:
    delete:
      operationId: deleteShopShippingProfile
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Deletes a ShippingProfile by given id.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      responses:
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfile403Example:
                  summary: Default deleteShopShippingProfile 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfile404Example:
                  summary: Default deleteShopShippingProfile 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '204':
          description: The ShopShippingProfile resource was correctly deleted
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfile400Example:
                  summary: Default deleteShopShippingProfile 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfile401Example:
                  summary: Default deleteShopShippingProfile 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfile500Example:
                  summary: Default deleteShopShippingProfile 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Delete Shop Shipping Profile
    get:
      operationId: getShopShippingProfile
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Retrieves a Shipping Profile referenced by shipping profile ID.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      responses:
        '200':
          description: A single ShippingProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfile'
              examples:
                GetShopShippingProfile200Example:
                  summary: Default getShopShippingProfile 200 response
                  x-microcks-default: true
                  value:
                    shipping_profile_id: 1
                    title: Handmade Ceramic Mug — Stoneware
                    user_id: 456789
                    origin_country_iso: US
                    is_deleted: true
                    shipping_profile_destinations:
                    - null
                    shipping_profile_upgrades:
                    - null
                    origin_postal_code: '11201'
                    profile_type: manual
                    domestic_handling_fee: 1.0
                    international_handling_fee: 1.0
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfile403Example:
                  summary: Default getShopShippingProfile 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfile404Example:
                  summary: Default getShopShippingProfile 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfile400Example:
                  summary: Default getShopShippingProfile 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfile401Example:
                  summary: Default getShopShippingProfile 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfile500Example:
                  summary: Default getShopShippingProfile 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_r
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Shipping Profile
    put:
      operationId: updateShopShippingProfile
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Changes the settings in a shipping profile. You can pass a country iso code or a region when updating a ShippingProfile, but not both. Only one is required. You must pass either a shipping_carrier_id AND mail_class, or both min and max_delivery_days.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The name string of this shipping profile.
                origin_country_iso:
                  type: string
                  description: The ISO code of the country from which the listing ships.
                  format: ISO 3166-1 alpha-2
                min_processing_time:
                  type: integer
                  description: The minimum time required to process to ship listings with this shipping profile.
                  minimum: 1
                  maximum: 10
                max_processing_time:
                  type: integer
                  description: The maximum processing time the listing needs to ship.
                  minimum: 1
                  maximum: 10
                processing_time_unit:
                  type: string
                  description: The unit used to represent how long a processing time is. A week is equivalent to the set processing schedule (default to 5 business days). If none is provided, the unit is set to "business_days".
                  enum:
                  - business_days
                  - weeks
                  default: business_days
                origin_postal_code:
                  type: string
                  description: The postal code string (not necessarily a number) for the location from which the listing ships. Required if the `origin_country_iso` supports postal codes. See the [Fulfillment Tutorial docs](https://developer.etsy.com/documentation/tutorials/fulfillment/#countries-requiring-postal-codes) for more info
                  default: null
            examples:
              UpdateShopShippingProfileRequestExample:
                summary: Default updateShopShippingProfile request
                x-microcks-default: true
                value:
                  title: example string
                  origin_country_iso: example string
                  min_processing_time: 1
                  max_processing_time: 1
                  processing_time_unit: business_days
                  origin_postal_code: example string
      responses:
        '200':
          description: The updated shipping profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfile'
              examples:
                UpdateShopShippingProfile200Example:
                  summary: Default updateShopShippingProfile 200 response
                  x-microcks-default: true
                  value:
                    shipping_profile_id: 1
                    title: Handmade Ceramic Mug — Stoneware
                    user_id: 456789
                    origin_country_iso: US
                    is_deleted: true
                    shipping_profile_destinations:
                    - null
                    shipping_profile_upgrades:
                    - null
                    origin_postal_code: '11201'
                    profile_type: manual
                    domestic_handling_fee: 1.0
                    international_handling_fee: 1.0
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfile404Example:
                  summary: Default updateShopShippingProfile 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfile403Example:
                  summary: Default updateShopShippingProfile 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfile400Example:
                  summary: Default updateShopShippingProfile 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfile401Example:
                  summary: Default updateShopShippingProfile 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '503':
          description: This function is temporarily unavailable. Please try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfile503Example:
                  summary: Default updateShopShippingProfile 503 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfile500Example:
                  summary: Default updateShopShippingProfile 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Update Shop Shipping Profile
  /v3/application/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/destinations:
    post:
      operationId: createShopShippingProfileDestination
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Creates a new shipping destination, which sets the shipping cost, carrier, and class for a destination in a [shipping profile](/documentation/reference/#tag/Shop-ShippingProfile). createShopShippingProfileDestination assigns costs using the currency of the associated shop. Set the destination using either `destination_country_iso` or `destination_region`; `destination_country_iso` and `destination_region` are mutually exclusive — set one or the other. Setting both triggers error 400. If the request sets neither `destination_country_iso` nor `destination_region`, the default destination is "everywhere". You must also either assign both a `shipping_carrier_id` AND `mail_class` or both `min_delivery_days` AND `max_delivery_days`.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - primary_cost
              - secondary_cost
              properties:
                primary_cost:
                  type: number
                  description: The cost of shipping to this country/region alone, measured in the store's default currency.
                  format: float
                  minimum: 0
                secondary_cost:
                  type: number
                  description: The cost of shipping to this country/region with another item, measured in the store's default currency.
                  format: float
                  minimum: 0
                destination_country_iso:
                  type: string
                  description: The ISO code of the country to which the listing ships. If null, request sets destination to destination_region. Required if destination_region is null or not provided.
                  format: ISO 3166-1 alpha-2
                  default: null
                destination_region:
                  type: string
                  description: The code of the region to which the listing ships. A region represents a set of countries. Supported regions are Europe Union and Non-Europe Union (countries in Europe not in EU). If `none`, request sets destination to destination_country_iso. Required if destination_country_iso is null or not provided.
                  enum:
                  - eu
                  - non_eu
                  - none
                  default: none
                shipping_carrier_id:
                  type: integer
                  description: The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date. **Required with `mail_class`** if `min_delivery_days` and `max_delivery_days` are null.
                  minimum: 0
                  default: 0
                mail_class:
                  type: string
                  description: The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date. **Required with `shipping_carrier_id`** if `min_delivery_days` and `max_delivery_days` are null.
                  default: null
                min_delivery_days:
                  type: integer
                  description: The minimum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `max_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
                max_delivery_days:
                  type: integer
                  description: The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `min_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
            examples:
              CreateShopShippingProfileDestinationRequestExample:
                summary: Default createShopShippingProfileDestination request
                x-microcks-default: true
                value:
                  primary_cost: 1.0
                  secondary_cost: 1.0
                  destination_country_iso: example string
                  destination_region: eu
                  shipping_carrier_id: 1
                  mail_class: example string
                  min_delivery_days: 1
                  max_delivery_days: 1
      responses:
        '201':
          description: A single shipping destination.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfileDestination'
              examples:
                CreateShopShippingProfileDestination201Example:
                  summary: Default createShopShippingProfileDestination 201 response
                  x-microcks-default: true
                  value:
                    shipping_profile_destination_id: 1
                    shipping_profile_id: 1
                    origin_country_iso: US
                    destination_country_iso: US
                    destination_region: eu
                    primary_cost: example
                    secondary_cost: example
                    shipping_carrier_id: 1
                    mail_class: example string
                    min_delivery_days: 1
                    max_delivery_days: 1
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileDestination400Example:
                  summary: Default createShopShippingProfileDestination 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileDestination403Example:
                  summary: Default createShopShippingProfileDestination 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileDestination401Example:
                  summary: Default createShopShippingProfileDestination 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileDestination500Example:
                  summary: Default createShopShippingProfileDestination 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Create Shop Shipping Profile Destination
    get:
      operationId: getShopShippingProfileDestinationsByShippingProfile
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Retrieves a list of shipping destination objects associated with a shipping profile.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          description: The maximum number of results to return.
          minimum: 1
          maximum: 100
          default: 25
        example: 25
      - name: offset
        in: query
        description: The number of records to skip before selecting the first result.
        required: false
        schema:
          type: integer
          description: The number of records to skip before selecting the first result.
          minimum: 0
          default: 0
        example: 0
      responses:
        '200':
          description: A list of shipping destination objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfileDestinations'
              examples:
                GetShopShippingProfileDestinationsByShippingProfile200Example:
                  summary: Default getShopShippingProfileDestinationsByShippingProfile 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - null
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileDestinationsByShippingProfile403Example:
                  summary: Default getShopShippingProfileDestinationsByShippingProfile 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileDestinationsByShippingProfile400Example:
                  summary: Default getShopShippingProfileDestinationsByShippingProfile 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileDestinationsByShippingProfile404Example:
                  summary: Default getShopShippingProfileDestinationsByShippingProfile 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileDestinationsByShippingProfile401Example:
                  summary: Default getShopShippingProfileDestinationsByShippingProfile 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileDestinationsByShippingProfile500Example:
                  summary: Default getShopShippingProfileDestinationsByShippingProfile 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_r
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Shipping Profile Destinations by Shipping Profile
  /v3/application/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/destinations/{shipping_profile_destination_id}:
    delete:
      operationId: deleteShopShippingProfileDestination
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Deletes a shipping destination and removes the destination option from every listing that uses the associated shipping profile. A shipping profile requires at least one shipping destination, so this endpoint cannot delete the final shipping destination for any shipping profile. To delete the final shipping destination from a shipping profile, you must [delete the entire shipping profile](/documentation/reference/#operation/deleteShopShippingProfile).'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      - name: shipping_profile_destination_id
        in: path
        description: The numeric ID of the shipping profile destination in the [shipping profile](/documentation/reference#tag/Shop-ShippingProfile) associated with the listing.
        required: true
        schema:
          type: integer
          description: The numeric ID of the shipping profile destination in the [shipping profile](/documentation/reference#tag/Shop-ShippingProfile) associated with the listing.
          format: int64
          minimum: 1
        example: 1
      responses:
        '204':
          description: Etsy deleted the shipping profile destination.
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileDestination403Example:
                  summary: Default deleteShopShippingProfileDestination 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileDestination404Example:
                  summary: Default deleteShopShippingProfileDestination 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileDestination400Example:
                  summary: Default deleteShopShippingProfileDestination 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileDestination401Example:
                  summary: Default deleteShopShippingProfileDestination 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileDestination500Example:
                  summary: Default deleteShopShippingProfileDestination 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Delete Shop Shipping Profile Destination
    put:
      operationId: updateShopShippingProfileDestination
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Updates an existing shipping destination, which can set or reassign the shipping cost, carrier, and class for a destination.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      - name: shipping_profile_destination_id
        in: path
        description: The numeric ID of the shipping profile destination in the [shipping profile](/documentation/reference#tag/Shop-ShippingProfile) associated with the listing.
        required: true
        schema:
          type: integer
          description: The numeric ID of the shipping profile destination in the [shipping profile](/documentation/reference#tag/Shop-ShippingProfile) associated with the listing.
          format: int64
          minimum: 1
        example: 1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                primary_cost:
                  type: number
                  description: The cost of shipping to this country/region alone, measured in the store's default currency.
                  format: float
                  minimum: 0
                  default: null
                secondary_cost:
                  type: number
                  description: The cost of shipping to this country/region with another item, measured in the store's default currency.
                  format: float
                  minimum: 0
                  default: null
                destination_country_iso:
                  type: string
                  description: The ISO code of the country to which the listing ships. If null, request sets destination to destination_region. Required if destination_region is null or not provided.
                  format: ISO 3166-1 alpha-2
                  default: null
                destination_region:
                  type: string
                  description: The code of the region to which the listing ships. A region represents a set of countries. Supported regions are Europe Union and Non-Europe Union (countries in Europe not in EU). If `none`, request sets destination to destination_country_iso. Required if destination_country_iso is null or not provided.
                  enum:
                  - eu
                  - non_eu
                  - none
                  default: none
                shipping_carrier_id:
                  type: integer
                  description: The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date. **Required with `mail_class`** if `min_delivery_days` and `max_delivery_days` are null.
                  minimum: 0
                  default: null
                mail_class:
                  type: string
                  description: The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date. **Required with `shipping_carrier_id`** if `min_delivery_days` and `max_delivery_days` are null.
                  default: null
                min_delivery_days:
                  type: integer
                  description: The minimum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `max_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
                max_delivery_days:
                  type: integer
                  description: The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `min_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
            examples:
              UpdateShopShippingProfileDestinationRequestExample:
                summary: Default updateShopShippingProfileDestination request
                x-microcks-default: true
                value:
                  primary_cost: 1.0
                  secondary_cost: 1.0
                  destination_country_iso: example string
                  destination_region: eu
                  shipping_carrier_id: 1
                  mail_class: example string
                  min_delivery_days: 1
                  max_delivery_days: 1
      responses:
        '200':
          description: A single shipping destination.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfileDestination'
              examples:
                UpdateShopShippingProfileDestination200Example:
                  summary: Default updateShopShippingProfileDestination 200 response
                  x-microcks-default: true
                  value:
                    shipping_profile_destination_id: 1
                    shipping_profile_id: 1
                    origin_country_iso: US
                    destination_country_iso: US
                    destination_region: eu
                    primary_cost: example
                    secondary_cost: example
                    shipping_carrier_id: 1
                    mail_class: example string
                    min_delivery_days: 1
                    max_delivery_days: 1
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileDestination400Example:
                  summary: Default updateShopShippingProfileDestination 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileDestination403Example:
                  summary: Default updateShopShippingProfileDestination 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileDestination404Example:
                  summary: Default updateShopShippingProfileDestination 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileDestination401Example:
                  summary: Default updateShopShippingProfileDestination 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '503':
          description: This function is temporarily unavailable. Please try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileDestination503Example:
                  summary: Default updateShopShippingProfileDestination 503 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileDestination500Example:
                  summary: Default updateShopShippingProfileDestination 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Update Shop Shipping Profile Destination
  /v3/application/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/upgrades:
    post:
      operationId: createShopShippingProfileUpgrade
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Creates a new shipping profile upgrade, which can establish a price for a shipping option, such as an alternate carrier or faster delivery.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - type
              - upgrade_name
              - price
              - secondary_price
              properties:
                type:
                  type: integer
                  description: The type of the shipping upgrade. Domestic (0) or international (1).
                  enum:
                  - 0
                  - 1
                upgrade_name:
                  type: string
                  description: Name for the shipping upgrade shown to shoppers at checkout, e.g. USPS Priority.
                price:
                  type: number
                  description: Additional cost of adding the shipping upgrade.
                  format: float
                  minimum: 0
                secondary_price:
                  type: number
                  description: Additional cost of adding the shipping upgrade for each additional item.
                  format: float
                  minimum: 0
                shipping_carrier_id:
                  type: integer
                  description: The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date. **Required with `mail_class`** if `min_delivery_days` and `max_delivery_days` are null.
                  minimum: 0
                  default: 0
                mail_class:
                  type: string
                  description: The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date. **Required with `shipping_carrier_id`** if `min_delivery_days` and `max_delivery_days` are null.
                  default: null
                min_delivery_days:
                  type: integer
                  description: The minimum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `max_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
                max_delivery_days:
                  type: integer
                  description: The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `min_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
            examples:
              CreateShopShippingProfileUpgradeRequestExample:
                summary: Default createShopShippingProfileUpgrade request
                x-microcks-default: true
                value:
                  type: 0
                  upgrade_name: example string
                  price: 1.0
                  secondary_price: 1.0
                  shipping_carrier_id: 1
                  mail_class: example string
                  min_delivery_days: 1
                  max_delivery_days: 1
      responses:
        '200':
          description: A single shipping profile upgrade.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfileUpgrade'
              examples:
                CreateShopShippingProfileUpgrade200Example:
                  summary: Default createShopShippingProfileUpgrade 200 response
                  x-microcks-default: true
                  value:
                    shipping_profile_id: 1
                    upgrade_id: 1
                    upgrade_name: Handmade Ceramic Mug
                    type: 0
                    rank: 1
                    language: en-US
                    price: example
                    secondary_price: example
                    shipping_carrier_id: 1
                    mail_class: example string
                    min_delivery_days: 1
                    max_delivery_days: 1
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileUpgrade400Example:
                  summary: Default createShopShippingProfileUpgrade 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileUpgrade403Example:
                  summary: Default createShopShippingProfileUpgrade 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileUpgrade404Example:
                  summary: Default createShopShippingProfileUpgrade 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileUpgrade401Example:
                  summary: Default createShopShippingProfileUpgrade 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopShippingProfileUpgrade500Example:
                  summary: Default createShopShippingProfileUpgrade 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Create Shop Shipping Profile Upgrade
    get:
      operationId: getShopShippingProfileUpgrades
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Retrieves the list of shipping profile upgrades assigned to a specific shipping profile.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      responses:
        '200':
          description: A list of shipping profile upgrades.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfileUpgrades'
              examples:
                GetShopShippingProfileUpgrades200Example:
                  summary: Default getShopShippingProfileUpgrades 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - null
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileUpgrades400Example:
                  summary: Default getShopShippingProfileUpgrades 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileUpgrades403Example:
                  summary: Default getShopShippingProfileUpgrades 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileUpgrades404Example:
                  summary: Default getShopShippingProfileUpgrades 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileUpgrades401Example:
                  summary: Default getShopShippingProfileUpgrades 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopShippingProfileUpgrades500Example:
                  summary: Default getShopShippingProfileUpgrades 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_r
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Shipping Profile Upgrades
  /v3/application/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/upgrades/{upgrade_id}:
    delete:
      operationId: deleteShopShippingProfileUpgrade
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Deletes a shipping profile upgrade and removes the upgrade option from every listing that uses the associated shipping profile.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the shipping profile.
        required: true
        schema:
          type: integer
          description: The numeric ID of the shipping profile.
          format: int64
          minimum: 1
        example: 1
      - name: upgrade_id
        in: path
        description: The numeric ID that is associated with a shipping upgrade
        required: true
        schema:
          type: integer
          description: The numeric ID that is associated with a shipping upgrade
          format: int64
          minimum: 1
        example: 1
      responses:
        '204':
          description: Etsy deleted the shipping profile upgrade.
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileUpgrade403Example:
                  summary: Default deleteShopShippingProfileUpgrade 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileUpgrade404Example:
                  summary: Default deleteShopShippingProfileUpgrade 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileUpgrade400Example:
                  summary: Default deleteShopShippingProfileUpgrade 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileUpgrade401Example:
                  summary: Default deleteShopShippingProfileUpgrade 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopShippingProfileUpgrade500Example:
                  summary: Default deleteShopShippingProfileUpgrade 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Delete Shop Shipping Profile Upgrade
    put:
      operationId: updateShopShippingProfileUpgrade
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Updates a shipping profile upgrade and updates any listings that use the shipping profile.'
      tags:
      - Shop ShippingProfile
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: shipping_profile_id
        in: path
        description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
        required: true
        schema:
          type: integer
          description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile) associated with the listing. Required when listing type is `physical`.
          format: int64
          minimum: 1
        example: 1
      - name: upgrade_id
        in: path
        description: The numeric ID that is associated with a shipping upgrade
        required: true
        schema:
          type: integer
          description: The numeric ID that is associated with a shipping upgrade
          format: int64
          minimum: 1
        example: 1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                upgrade_name:
                  type: string
                  description: Name for the shipping upgrade shown to shoppers at checkout, e.g. USPS Priority.
                  default: null
                type:
                  type: integer
                  description: The type of the shipping upgrade. Domestic (0) or international (1).
                  enum:
                  - 0
                  - 1
                price:
                  type: number
                  description: Additional cost of adding the shipping upgrade.
                  format: float
                  minimum: 0
                  default: null
                secondary_price:
                  type: number
                  description: Additional cost of adding the shipping upgrade for each additional item.
                  format: float
                  minimum: 0
                  default: null
                shipping_carrier_id:
                  type: integer
                  description: The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date. **Required with `mail_class`** if `min_delivery_days` and `max_delivery_days` are null.
                  minimum: 0
                  default: null
                mail_class:
                  type: string
                  description: The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date. **Required with `shipping_carrier_id`** if `min_delivery_days` and `max_delivery_days` are null.
                  default: null
                min_delivery_days:
                  type: integer
                  description: The minimum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `max_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
                max_delivery_days:
                  type: integer
                  description: The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `min_delivery_days`** if `mail_class` is null.
                  minimum: 1
                  maximum: 45
                  default: null
            examples:
              UpdateShopShippingProfileUpgradeRequestExample:
                summary: Default updateShopShippingProfileUpgrade request
                x-microcks-default: true
                value:
                  upgrade_name: example string
                  type: 0
                  price: 1.0
                  secondary_price: 1.0
                  shipping_carrier_id: 1
                  mail_class: example string
                  min_delivery_days: 1
                  max_delivery_days: 1
      responses:
        '200':
          description: A single shipping profile upgrade.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopShippingProfileUpgrade'
              examples:
                UpdateShopShippingProfileUpgrade200Example:
                  summary: Default updateShopShippingProfileUpgrade 200 response
                  x-microcks-default: true
                  value:
                    shipping_profile_id: 1
                    upgrade_id: 1
                    upgrade_name: Handmade Ceramic Mug
                    type: 0
                    rank: 1
                    language: en-US
                    price: example
                    secondary_price: example
                    shipping_carrier_id: 1
                    mail_class: example string
                    min_delivery_days: 1
                    max_delivery_days: 1
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileUpgrade400Example:
                  summary: Default updateShopShippingProfileUpgrade 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileUpgrade403Example:
                  summary: Default updateShopShippingProfileUpgrade 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileUpgrade404Example:
                  summary: Default updateShopShippingProfileUpgrade 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileUpgrade401Example:
                  summary: Default updateShopShippingProfileUpgrade 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '503':
          description: This function is temporarily unavailable. Please try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileUpgrade503Example:
                  summary: Default updateShopShippingProfileUpgrade 503 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopShippingProfileUpgrade500Example:
                  summary: Default updateShopShippingProfileUpgrade 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Update Shop Shipping Profile Upgrade
components:
  schemas:
    ShopShippingProfileUpgrades:
      type: object
      x-resource-id: ShopShippingProfileUpgrades
      description: A list of shipping upgrade options.
      properties:
        count:
          type: integer
          description: The number of results.
          minimum: 0
          example: 1
        results:
          type: array
          description: The list of requested resources.
          items:
            description: The list of requested resources.
            oneOf:
            - $ref: '#/components/schemas/ShopShippingProfileUpgrade'
    ErrorSchema:
      type: object
      x-resource-id: ErrorSchema
      required:
      - error
      properties:
        error:
          type: string
          example: example string
    ShippingCarrier:
      type: object
      x-resource-id: ShippingCarrier
      description: A supported shipping carrier, which is used to calculate an Estimated Delivery Date.
      properties:
        shipping_carrier_id:
          type: integer
          description: The numeric ID of this shipping carrier.
          format: int64
          minimum: 1
          example: 1
        name:
          type: string
          description: The name of this shipping carrier.
          example: Handmade Ceramic Mug
        domestic_classes:
          type: array
          description: Set of domestic mail classes of this shipping carrier.
          items:
            description: Set of domestic mail classes of this shipping carrier.
            oneOf:
            - $ref: '#/components/schemas/ShippingCarrierMailClass'
        international_classes:
          type: array
          description: Set of international mail classes of this shipping carrier.
          items:
            description: Set of international mail classes of this shipping carrier.
            oneOf:
            - $ref: '#/components/schemas/ShippingCarrierMailClass'
    ShopShippingProfileDestination:
      type: object
      x-resource-id: ShopShippingProfileDestination
      description: Represents a shipping destination assigned to a shipping profile.
      properties:
        shipping_profile_destination_id:
          type: integer
          description: The numeric ID of the shipping profile destination in the [shipping profile](/documentation/reference#tag/Shop-ShippingProfile) associated with the listing.
          format: int64
          minimum: 1
          example: 1
        shipping_profile_id:
          type: integer
          description: The numeric ID of the shipping profile.
          format: int64
          minimum: 1
          example: 1
        origin_country_iso:
          type: string
          description: The ISO code of the country from which the listing ships.
          format: ISO 3166-1 alpha-2
          example: US
        destination_country_iso:
          type: string
          description: The ISO code of the country to which the listing ships. If null, request sets destination to destination_region. Required if destination_region is null or not provided.
          example: US
        destination_region:
          type: string
          description: The code of the region to which the listing ships. A region represents a set of countries. Supported regions are Europe Union and Non-Europe Union (countries in Europe not in EU). If `none`, request sets destination to destination_country_iso. Required if destination_country_iso is null or not provided.
          enum:
          - eu
          - non_eu
          - none
          example: eu
        primary_cost:
          description: The cost of shipping to this country/region alone, measured in the store's default currency.
          oneOf:
          - $ref: '#/components/schemas/Money'
          example: example
        secondary_cost:
          description: The cost of shipping to this country/region with another item, measured in the store's default currency.
          oneOf:
          - $ref: '#/components/schemas/Money'
          example: example
        shipping_carrier_id:
          type: integer
          description: The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date. **Required with `mail_class`** if `min_delivery_days` and `max_delivery_days` are null.
          nullable: true
          example: 1
        mail_class:
          type: string
          description: The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date. **Required with `shipping_carrier_id`** if `min_delivery_days` and `max_delivery_days` are null.
          nullable: true
          example: example string
        min_delivery_days:
          type: integer
          description: The minimum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `max_delivery_days`** if `mail_class` is null.
          nullable: true
          minimum: 1
          maximum: 45
          example: 1
        max_delivery_days:
          type: integer
          description: The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped. **Required with `min_delivery_days`** if `mail_class` is null.
          nullable: true
          minimum: 1
          maximum: 45
          example: 1
    ShopShippingProfile:
      type: object
      x-resource-id: ShopShippingProfile
[...]
