openapi: 3.0.2
info:
  title: Etsy Open API v3 BuyerTaxonomy Review API
  description: <div class="wt-text-body-01"><p class="wt-pt-xs-2 wt-pb-xs-2">Etsy's Open API provides a simple RESTful interface for various Etsy.com features.</p><p class="wt-pb-xs-2">If you'd like to report an issue or provide feedback on the API design, <a target="_blank" class="wt-text-link wt-p-xs-0" href="https://github.com/etsy/open-api/discussions">please add an issue in Github</a>.</p></div>&copy; 2021-2026 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.
  termsOfService: https://www.etsy.com/legal/api
  contact:
    email: developers@etsy.com
  version: 3.0.0
  x-generated-from: https://www.etsy.com/openapi/generated/oas/3.0.0.json
  x-last-validated: '2026-05-30'
servers:
- url: https://openapi.etsy.com
  description: Etsy Open API v3 base URL (per Etsy developer documentation; live calls also resolve at https://api.etsy.com/v3/application).
security:
- api_key: []
tags:
- name: Review
paths:
  /v3/application/listings/{listing_id}/reviews:
    get:
      operationId: getReviewsByListing
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Open API V3 to retrieve the reviews for a listing given its ID.'
      tags:
      - Review
      parameters:
      - name: listing_id
        in: path
        description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing) associated to this transaction.
        required: true
        schema:
          type: integer
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing) associated to this transaction.
          format: int64
          minimum: 1
        example: 123456789
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          description: The maximum number of results to return.
          minimum: 1
          maximum: 100
          default: 25
        example: 25
      - name: offset
        in: query
        description: The number of records to skip before selecting the first result.
        required: false
        schema:
          type: integer
          description: The number of records to skip before selecting the first result.
          minimum: 0
          default: 0
        example: 0
      - name: min_created
        in: query
        description: The earliest unix timestamp for when a record was created.
        required: false
        schema:
          type: integer
          description: The earliest unix timestamp for when a record was created.
          nullable: true
          minimum: 946684800
        example: 1
      - name: max_created
        in: query
        description: The latest unix timestamp for when a record was created.
        required: false
        schema:
          type: integer
          description: The latest unix timestamp for when a record was created.
          nullable: true
          minimum: 946684800
        example: 1
      responses:
        '200':
          description: A set of Transaction Reviews by Listing ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingReviews'
              examples:
                GetReviewsByListing200Example:
                  summary: Default getReviewsByListing 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - null
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetReviewsByListing404Example:
                  summary: Default getReviewsByListing 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetReviewsByListing400Example:
                  summary: Default getReviewsByListing 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetReviewsByListing500Example:
                  summary: Default getReviewsByListing 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Reviews by Listing
  /v3/application/shops/{shop_id}/reviews:
    get:
      operationId: getReviewsByShop
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Open API V3 to retrieve the reviews from a shop given its ID.'
      tags:
      - Review
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          description: The maximum number of results to return.
          minimum: 1
          maximum: 100
          default: 25
        example: 25
      - name: offset
        in: query
        description: The number of records to skip before selecting the first result.
        required: false
        schema:
          type: integer
          description: The number of records to skip before selecting the first result.
          minimum: 0
          default: 0
        example: 0
      - name: min_created
        in: query
        description: The earliest unix timestamp for when a record was created.
        required: false
        schema:
          type: integer
          description: The earliest unix timestamp for when a record was created.
          nullable: true
          minimum: 946684800
        example: 1
      - name: max_created
        in: query
        description: The latest unix timestamp for when a record was created.
        required: false
        schema:
          type: integer
          description: The latest unix timestamp for when a record was created.
          nullable: true
          minimum: 946684800
        example: 1
      responses:
        '200':
          description: A set of Transaction Reviews By Shop ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionReviews'
              examples:
                GetReviewsByShop200Example:
                  summary: Default getReviewsByShop 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - null
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetReviewsByShop404Example:
                  summary: Default getReviewsByShop 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetReviewsByShop400Example:
                  summary: Default getReviewsByShop 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetReviewsByShop500Example:
                  summary: Default getReviewsByShop 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Reviews by Shop
components:
  schemas:
    ErrorSchema:
      type: object
      x-resource-id: ErrorSchema
      required:
      - error
      properties:
        error:
          type: string
          example: example string
    ListingReview:
      type: object
      x-resource-id: ListingReview
      description: A listing review record left by a User.
      properties:
        shop_id:
          type: integer
          description: The shop's numeric ID.
          format: int64
          minimum: 1
          example: 123456
        listing_id:
          type: integer
          description: The ID of the ShopListing that the TransactionReview belongs to.
          format: int64
          minimum: 1
          example: 123456789
        rating:
          type: integer
          description: Rating value on scale from 1 to 5
          minimum: 1
          maximum: 5
          example: 5
        review:
          type: string
          description: A message left by the author, explaining the feedback, if provided.
          nullable: true
          example: example string
        language:
          type: string
          description: The language of the TransactionReview
          example: en-US
        image_url_fullxfull:
          type: string
          description: 'The url to a photo provided with the feedback, dimensions fullxfull. Note: This field may be absent, depending on the buyer''s privacy settings.'
          nullable: true
          example: https://www.etsy.com/listing/123456789
        create_timestamp:
          type: integer
          description: The date and time the TransactionReview was created in epoch seconds.
          minimum: 946684800
          example: 1758153645
        created_timestamp:
          type: integer
          description: The date and time the TransactionReview was created in epoch seconds.
          minimum: 946684800
          example: 1758153645
        update_timestamp:
          type: integer
          description: The date and time the TransactionReview was updated in epoch seconds.
          minimum: 946684800
          example: 1758153645
        updated_timestamp:
          type: integer
          description: The date and time the TransactionReview was updated in epoch seconds.
          minimum: 946684800
          example: 1758153645
    TransactionReviews:
      type: object
      x-resource-id: TransactionReviews
      description: A set of transaction review records left by Users.
      properties:
        count:
          type: integer
          description: The number of TransactionReview resources found.
          minimum: 0
          example: 1
        results:
          type: array
          description: The TransactionReview resources found.
          items:
            description: The TransactionReview resources found.
            oneOf:
            - $ref: '#/components/schemas/TransactionReview'
    TransactionReview:
      type: object
      x-resource-id: TransactionReview
      description: A transaction review record left by a User.
      properties:
        shop_id:
          type: integer
          description: The shop's numeric ID.
          format: int64
          minimum: 1
          example: 123456
        listing_id:
          type: integer
          description: The ID of the ShopListing that the TransactionReview belongs to.
          format: int64
          minimum: 1
          example: 123456789
        transaction_id:
          type: integer
          description: The ID of the ShopReceipt Transaction that the TransactionReview belongs to.
          format: int64
          minimum: 1
          example: 345678901
        buyer_user_id:
          type: integer
          description: 'The numeric ID of the user who was the buyer in this transaction. Note: This field may be absent, depending on the buyer''s privacy settings.'
          format: int64
          nullable: true
          minimum: 1
          example: 456789
        rating:
          type: integer
          description: Rating value on scale from 1 to 5
          minimum: 1
          maximum: 5
          example: 5
        review:
          type: string
          description: A message left by the author, explaining the feedback, if provided.
          default: ''
          example: example string
        language:
          type: string
          description: The language of the TransactionReview
          example: en-US
        image_url_fullxfull:
          type: string
          description: 'The url to a photo provided with the feedback, dimensions fullxfull. Note: This field may be absent, depending on the buyer''s privacy settings.'
          nullable: true
          example: https://www.etsy.com/listing/123456789
        create_timestamp:
          type: integer
          description: The date and time the TransactionReview was created in epoch seconds.
          minimum: 946684800
          example: 1758153645
        created_timestamp:
          type: integer
          description: The date and time the TransactionReview was created in epoch seconds.
          minimum: 946684800
          example: 1758153645
        update_timestamp:
          type: integer
          description: The date and time the TransactionReview was updated in epoch seconds.
          minimum: 946684800
          example: 1758153645
        updated_timestamp:
          type: integer
          description: The date and time the TransactionReview was updated in epoch seconds.
          minimum: 946684800
          example: 1758153645
    ListingReviews:
      type: object
      x-resource-id: ListingReviews
      description: A set of listing review records left by Users.
      properties:
        count:
          type: integer
          description: The number of TransactionReview resources found.
          minimum: 0
          example: 1
        results:
          type: array
          description: The TransactionReview resources found.
          items:
            description: The TransactionReview resources found.
            oneOf:
            - $ref: '#/components/schemas/ListingReview'
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: Every request to a v3 API endpoint must include this data in the format `keystring:shared_secret`. Your keystring and shared secret are available on the [Your Apps](https://www.etsy.com/developers/your-apps) page.
    oauth2:
      type: oauth2
      description: Open API v3 supports authenticating via OAuth 2.0. More information about Etsy's specific implementation of OAuth2 can be found [here](/documentation/essentials/oauth2).
      flows:
        authorizationCode:
          authorizationUrl: https://www.etsy.com/oauth/connect
          tokenUrl: https://openapi.etsy.com/v3/public/oauth/token
          scopes:
            address_r: see billing and shipping addresses
            address_w: update billing and shipping addresses
            billing_r: see all billing statement data
            cart_r: read shopping carts
            cart_w: add/remove from shopping carts
            email_r: read a user profile
            favorites_r: see private favorites
            favorites_w: add/remove favorites
            feedback_r: see purchase info in feedback
            listings_d: delete listings
            listings_r: see all listings (including expired etc)
            listings_w: create/edit listings
            profile_r: see all profile data
            profile_w: update user profile, avatar, etc
            recommend_r: see recommended listings
            recommend_w: accept/reject recommended listings
            shops_r: see private shop info
            shops_w: update shop
            transactions_r: see all checkout/payment data
            transactions_w: update receipts
x-tagGroups:
- name: Listing Management
  tags:
  - BuyerTaxonomy
  - SellerTaxonomy
  - ShopListing
  - ShopListing File
  - ShopListing Image
  - ShopListing Inventory
  - ShopListing Offering
  - ShopListing Personalization
  - ShopListing Product
  - ShopListing Translation
  - ShopListing VariationImage
  - ShopListing Video
- name: Other
  tags:
  - Other
- name: Payment Management
  tags:
  - Ledger Entry
  - Payment
- name: Receipt Management
  tags:
  - Shop Receipt
  - Shop Receipt Transactions
- name: Review Management
  tags:
  - Review
- name: Shipping Management
  tags:
  - Shop HolidayPreferences
  - Shop ProcessingProfiles
  - Shop ShippingProfile
- name: Shop Management
  tags:
  - Shop
  - Shop ProductionPartner
  - Shop Section
- name: Shop Policy Management
  tags:
  - Shop Return Policy
- name: User Management
  tags:
  - User
  - UserAddress
