openapi: 3.0.2
info:
  title: Etsy Open API v3 BuyerTaxonomy Shop Return Policy API
  description: <div class="wt-text-body-01"><p class="wt-pt-xs-2 wt-pb-xs-2">Etsy's Open API provides a simple RESTful interface for various Etsy.com features.</p><p class="wt-pb-xs-2">If you'd like to report an issue or provide feedback on the API design, <a target="_blank" class="wt-text-link wt-p-xs-0" href="https://github.com/etsy/open-api/discussions">please add an issue in Github</a>.</p></div>&copy; 2021-2026 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.
  termsOfService: https://www.etsy.com/legal/api
  contact:
    email: developers@etsy.com
  version: 3.0.0
  x-generated-from: https://www.etsy.com/openapi/generated/oas/3.0.0.json
  x-last-validated: '2026-05-30'
servers:
- url: https://openapi.etsy.com
  description: Etsy Open API v3 base URL (per Etsy developer documentation; live calls also resolve at https://api.etsy.com/v3/application).
security:
- api_key: []
tags:
- name: Shop Return Policy
paths:
  /v3/application/shops/{shop_id}/policies/return/consolidate:
    post:
      operationId: consolidateShopReturnPolicies
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Consolidates Return Policies by moving all listings from a source return policy to a destination return policy, and deleting the source return policy. This is commonly used in the event that a user attempts to update a Return Policy such that its data is a duplicate of some other Return Policy, which is prevented.'
      tags:
      - Shop Return Policy
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - source_return_policy_id
              - destination_return_policy_id
              properties:
                source_return_policy_id:
                  type: integer
                  description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
                  format: int64
                  minimum: 1
                destination_return_policy_id:
                  type: integer
                  description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
                  format: int64
                  minimum: 1
            examples:
              ConsolidateShopReturnPoliciesRequestExample:
                summary: Default consolidateShopReturnPolicies request
                x-microcks-default: true
                value:
                  source_return_policy_id: 1
                  destination_return_policy_id: 1
      responses:
        '200':
          description: The updated target Return Policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopReturnPolicy'
              examples:
                ConsolidateShopReturnPolicies200Example:
                  summary: Default consolidateShopReturnPolicies 200 response
                  x-microcks-default: true
                  value:
                    return_policy_id: 1
                    shop_id: 123456
                    accepts_returns: true
                    accepts_exchanges: true
                    return_deadline: 1
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                ConsolidateShopReturnPolicies403Example:
                  summary: Default consolidateShopReturnPolicies 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                ConsolidateShopReturnPolicies404Example:
                  summary: Default consolidateShopReturnPolicies 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                ConsolidateShopReturnPolicies400Example:
                  summary: Default consolidateShopReturnPolicies 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                ConsolidateShopReturnPolicies401Example:
                  summary: Default consolidateShopReturnPolicies 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                ConsolidateShopReturnPolicies500Example:
                  summary: Default consolidateShopReturnPolicies 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Consolidate Shop Return Policies
  /v3/application/shops/{shop_id}/policies/return:
    post:
      operationId: createShopReturnPolicy
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Creates a new Return Policy. Note: if either accepts_returns or accepts_exchanges is true, then a return_deadline is required.'
      tags:
      - Shop Return Policy
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - accepts_returns
              - accepts_exchanges
              properties:
                accepts_returns:
                  type: boolean
                accepts_exchanges:
                  type: boolean
                return_deadline:
                  type: integer
                  description: 'The deadline for the Return Policy, measured in days. The value must be one of the following: [7, 14, 21, 30, 45, 60, 90].'
                  nullable: true
            examples:
              CreateShopReturnPolicyRequestExample:
                summary: Default createShopReturnPolicy request
                x-microcks-default: true
                value:
                  accepts_returns: true
                  accepts_exchanges: true
                  return_deadline: 1
      responses:
        '200':
          description: A single Return Policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopReturnPolicy'
              examples:
                CreateShopReturnPolicy200Example:
                  summary: Default createShopReturnPolicy 200 response
                  x-microcks-default: true
                  value:
                    return_policy_id: 1
                    shop_id: 123456
                    accepts_returns: true
                    accepts_exchanges: true
                    return_deadline: 1
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopReturnPolicy403Example:
                  summary: Default createShopReturnPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopReturnPolicy400Example:
                  summary: Default createShopReturnPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopReturnPolicy401Example:
                  summary: Default createShopReturnPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                CreateShopReturnPolicy500Example:
                  summary: Default createShopReturnPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Create Shop Return Policy
    get:
      operationId: getShopReturnPolicies
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Returns a shop''s list of existing Return Policies'
      tags:
      - Shop Return Policy
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      responses:
        '200':
          description: List of shop's Return Policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopReturnPolicies'
              examples:
                GetShopReturnPolicies200Example:
                  summary: Default getShopReturnPolicies 200 response
                  x-microcks-default: true
                  value:
                    count: 1
                    results:
                    - return_policy_id: 1
                      shop_id: 123456
                      accepts_returns: true
                      accepts_exchanges: true
                      return_deadline: 1
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReturnPolicies404Example:
                  summary: Default getShopReturnPolicies 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReturnPolicies400Example:
                  summary: Default getShopReturnPolicies 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReturnPolicies401Example:
                  summary: Default getShopReturnPolicies 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReturnPolicies500Example:
                  summary: Default getShopReturnPolicies 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Return Policies
  /v3/application/shops/{shop_id}/policies/return/{return_policy_id}:
    delete:
      operationId: deleteShopReturnPolicy
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Deletes an existing Return Policy. Deletion is only allowed for policies which have no associated listings – move them to another policy before attempting deletion.'
      tags:
      - Shop Return Policy
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: return_policy_id
        in: path
        description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
        required: true
        schema:
          type: integer
          description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
          format: int64
          minimum: 1
        example: 1
      responses:
        '204':
          description: The Return Policy was successfully deleted.
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReturnPolicy403Example:
                  summary: Default deleteShopReturnPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReturnPolicy400Example:
                  summary: Default deleteShopReturnPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReturnPolicy401Example:
                  summary: Default deleteShopReturnPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                DeleteShopReturnPolicy500Example:
                  summary: Default deleteShopReturnPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Delete Shop Return Policy
    get:
      operationId: getShopReturnPolicy
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Retrieves an existing Return Policy.'
      tags:
      - Shop Return Policy
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: return_policy_id
        in: path
        description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
        required: true
        schema:
          type: integer
          description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
          format: int64
          minimum: 1
        example: 1
      responses:
        '200':
          description: A single Return Policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopReturnPolicy'
              examples:
                GetShopReturnPolicy200Example:
                  summary: Default getShopReturnPolicy 200 response
                  x-microcks-default: true
                  value:
                    return_policy_id: 1
                    shop_id: 123456
                    accepts_returns: true
                    accepts_exchanges: true
                    return_deadline: 1
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReturnPolicy404Example:
                  summary: Default getShopReturnPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReturnPolicy400Example:
                  summary: Default getShopReturnPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReturnPolicy401Example:
                  summary: Default getShopReturnPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                GetShopReturnPolicy500Example:
                  summary: Default getShopReturnPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Get Shop Return Policy
    put:
      operationId: updateShopReturnPolicy
      description: '<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>


        Updates an existing Return Policy. Note: if either accepts_returns or accepts_exchanges is true, then a return_deadline is required.'
      tags:
      - Shop Return Policy
      parameters:
      - name: shop_id
        in: path
        description: The unique positive non-zero numeric ID for an Etsy Shop.
        required: true
        schema:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
        example: 123456
      - name: return_policy_id
        in: path
        description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
        required: true
        schema:
          type: integer
          description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
          format: int64
          minimum: 1
        example: 1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - accepts_returns
              - accepts_exchanges
              properties:
                accepts_returns:
                  type: boolean
                accepts_exchanges:
                  type: boolean
                return_deadline:
                  type: integer
                  description: 'The deadline for the Return Policy, measured in days. The value must be one of the following: [7, 14, 21, 30, 45, 60, 90].'
                  nullable: true
            examples:
              UpdateShopReturnPolicyRequestExample:
                summary: Default updateShopReturnPolicy request
                x-microcks-default: true
                value:
                  accepts_returns: true
                  accepts_exchanges: true
                  return_deadline: 1
      responses:
        '200':
          description: An updated Return Policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopReturnPolicy'
              examples:
                UpdateShopReturnPolicy200Example:
                  summary: Default updateShopReturnPolicy 200 response
                  x-microcks-default: true
                  value:
                    return_policy_id: 1
                    shop_id: 123456
                    accepts_returns: true
                    accepts_exchanges: true
                    return_deadline: 1
        '403':
          description: The request attempted to perform an operation it is not allowed to. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReturnPolicy403Example:
                  summary: Default updateShopReturnPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example string
        '404':
          description: A resource could not be found. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReturnPolicy404Example:
                  summary: Default updateShopReturnPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example string
        '400':
          description: There was a problem with the request data. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReturnPolicy400Example:
                  summary: Default updateShopReturnPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example string
        '401':
          description: The request lacks valid authentication credentials. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReturnPolicy401Example:
                  summary: Default updateShopReturnPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example string
        '409':
          description: There was a request conflict with the current state of the target resource. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReturnPolicy409Example:
                  summary: Default updateShopReturnPolicy 409 response
                  x-microcks-default: true
                  value:
                    error: example string
        '500':
          description: The server encountered an internal error. See the error message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
              examples:
                UpdateShopReturnPolicy500Example:
                  summary: Default updateShopReturnPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example string
      security:
      - api_key: []
        oauth2:
        - shops_w
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Etsy Update Shop Return Policy
components:
  schemas:
    ErrorSchema:
      type: object
      x-resource-id: ErrorSchema
      required:
      - error
      properties:
        error:
          type: string
          example: example string
    ShopReturnPolicies:
      type: object
      x-resource-id: ShopReturnPolicies
      description: Represents a shop's listing-level return policies list.
      properties:
        count:
          type: integer
          minimum: 0
          example: 1
        results:
          type: array
          items:
            $ref: '#/components/schemas/ShopReturnPolicy'
    ShopReturnPolicy:
      type: object
      x-resource-id: ShopReturnPolicy
      description: Represents a listing-level return policy.
      properties:
        return_policy_id:
          type: integer
          description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
          format: int64
          minimum: 1
          example: 1
        shop_id:
          type: integer
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          example: 123456
        accepts_returns:
          type: boolean
          description: return_policy_accepts_returns
          example: true
        accepts_exchanges:
          type: boolean
          description: return_policy_accepts_exchanges
          example: true
        return_deadline:
          type: integer
          description: 'The deadline for the Return Policy, measured in days. The value must be one of the following: [7, 14, 21, 30, 45, 60, 90].'
          nullable: true
          example: 1
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: Every request to a v3 API endpoint must include this data in the format `keystring:shared_secret`. Your keystring and shared secret are available on the [Your Apps](https://www.etsy.com/developers/your-apps) page.
    oauth2:
      type: oauth2
      description: Open API v3 supports authenticating via OAuth 2.0. More information about Etsy's specific implementation of OAuth2 can be found [here](/documentation/essentials/oauth2).
      flows:
        authorizationCode:
          authorizationUrl: https://www.etsy.com/oauth/connect
          tokenUrl: https://openapi.etsy.com/v3/public/oauth/token
          scopes:
            address_r: see billing and shipping addresses
            address_w: update billing and shipping addresses
            billing_r: see all billing statement data
            cart_r: read shopping carts
            cart_w: add/remove from shopping carts
            email_r: read a user profile
            favorites_r: see private favorites
            favorites_w: add/remove favorites
            feedback_r: see purchase info in feedback
            listings_d: delete listings
            listings_r: see all listings (including expired etc)
            listings_w: create/edit listings
            profile_r: see all profile data
            profile_w: update user profile, avatar, etc
            recommend_r: see recommended listings
            recommend_w: accept/reject recommended listings
            shops_r: see private shop info
            shops_w: update shop
            transactions_r: see all checkout/payment data
            transactions_w: update receipts
x-tagGroups:
- name: Listing Management
  tags:
  - BuyerTaxonomy
  - SellerTaxonomy
  - ShopListing
  - ShopListing File
  - ShopListing Image
  - ShopListing Inventory
  - ShopListing Offering
  - ShopListing Personalization
  - ShopListing Product
  - ShopListing Translation
  - ShopListing VariationImage
  - ShopListing Video
- name: Other
  tags:
  - Other
- name: Payment Management
  tags:
  - Ledger Entry
  - Payment
- name: Receipt Management
  tags:
  - Shop Receipt
  - Shop Receipt Transactions
- name: Review Management
  tags:
  - Review
- name: Shipping Management
  tags:
  - Shop HolidayPreferences
  - Shop ProcessingProfiles
  - Shop ShippingProfile
- name: Shop Management
  tags:
  - Shop
  - Shop ProductionPartner
  - Shop Section
- name: Shop Policy Management
  tags:
  - Shop Return Policy
- name: User Management
  tags:
  - User
  - UserAddress
